<a href="https://colab.research.google.com/github/AlwinBarredo/OOP_58001/blob/main/Fundamentals_Of_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [ ]:
if 5>2:
 print("5 > 2")

5 > 2

Python Comment

In [ ]:
#This is a comment
print("Hello World")

Hello World

Python Variable

In [ ]:
x = 1
#single variable with multiple values
array = [1,2,3]
print (array)

a = b = c = "Alwin"
d = "Pogi"
e = "si"
print (a+d)
print (d+e+b)

[1, 2, 3]
AlwinPogi
PogisiAlwin

Casting

In [ ]:
n = int(4)
print(n)

4

Type() Function

In [ ]:
c = "Sally"
d = 5.6
print(type(c))
print(type(d))

<class 'str'>
<class 'float'>

"Double quotes" or 'Single quotes'

In [1]:
y = "John"
y = 'John'

print(y)

John

Case Sensitive

In [2]:
a = 4
A = "Sally"

#A will not overwrite a
print(a)
print(A)

4
Sally

Multiple Variables

In [3]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [4]:
x= y= z= "four"

print(x)
print(y)
print(z)

four
four
four

Output Variables

In [5]:
x = "enjoying."
print("Python programming is " + x)

a = "Python is "
b = "enjoying."
c = a + b
print(c)

Python programming is enjoying.
Python is enjoying.

Arithmethic Operations

In [6]:
x = 5
y = 3
print(x + y)


x = 5
y = 3
sum = x + y
sum

8

8

Assignment Operators

In [7]:
a, b, c = 0, -1, 6
c %= 3
c

0

Comparison Operators and Logical Operators

In [ ]:
a, b, c = 0, -1, 6
a > b and c > b
True

Identity Operators

In [8]:
a, b, c = 0, -1 ,5
a is c

False

Bitwise Operators

In [11]:
a, b, c = 0, -1 ,5
a <= b & b != c

False